@{
    ViewBag.Title = "Home Page";
}

<!--html for home page-->
<h1>assignment 2 Brewery And Beer</h1>
<p> this project is to display 2 tables breweries and beer with full CRUD functionality</p>
<p>It also uses user authentication</p>